.lainnya {
    background: $colorred;
    h3 {
        font-size: 2.3rem !important;
        font-family: "Mulish";
        @media screen and (max-width: 768px) {
            font-size: 1.5rem !important;
        }
    }
    .image {
        width: 100%;
        height: 60vh;
        position: absolute;
        left: 50%;
        top: 50%;
        @media screen and (max-width: 768px) {
            height: 360px;
            background: #183e24;
        }

        transform: translate(-50%, -50%) rotate(-1deg);
        border: 5px solid white;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .helpingx {
        position: relative;
        height: 100vh;
    }
    .wrap-all {
        position: absolute;
        top: 85%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .wrap-top {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .content-title {
        &.lini {
            left: -24%;
            @media screen and (max-width: 768px) {
                left: 12%;
            }
            &::before {
                content: "";
                position: absolute;
                width: 246px;
                border: 2px dashed #eaeaea;
                height: 200px;
                top: 16px;
                right: 0;
                z-index: -1;
                border-right: 2px dashed $colorred;
                border-top: 2px dashed $colorred;
                @media screen and (max-width: 768px) {
                    width: 80px;
                    border: 2px dashed #eaeaea;
                    height: 50vh;
                    top: 50%;
                    right: 80%;
                    border-right: 2px dashed $colorred;
                    border-bottom: 2px dashed $colorred;
                }
            }
        }
        &.trans {
            left: 35%;
            &::before {
                content: "";
                position: absolute;
                width: 246px;
                border: 2px dashed #eaeaea;
                height: 200px;
                top: 80%;
                right: 32%;
                z-index: -1;
                border-left: 2px dashed $colorred;
                border-top: 2px dashed $colorred;
                @media screen and (max-width: 768px) {
                    width: 225px;
                    border: 2px dashed #eaeaea;
                    height: 50vh;
                    top: 80%;
                    right: 80%;
                    border-left: 2px dashed $colorred;
                    border-top: 2px dashed $colorred;
                    border-bottom: 2px dashed $colorred;
                }
            }
        }
        &.toko {
            left: 95%;
            @media screen and (max-width: 768px) {
                left: 50%;
            }
            &::before {
                content: "";
                position: absolute;
                width: 206px;
                border: 2px dashed #eaeaea;
                height: 80px;
                bottom: 95%;
                right: 32%;
                z-index: -1;
                // border-left: 2px dashed $colorred;
                border-bottom: 2px dashed $colorred;
                @media screen and (max-width: 768px) {
                    width: 96px;
                    border: 2px dashed #eaeaea;
                    height: 80px;
                    bottom: 50%;
                    border-top: 2px dashed $colorred;
                    border-right: 2px dashed $colorred;
                    right: 78%;
                }
            }
        }
        &.makanan {
            left: -60%;
            @media screen and (max-width: 768px) {
                left: 12%;
            }
            &::before {
                content: "";
                position: absolute;
                width: 206px;
                border: 2px dashed #eaeaea;
                height: 28vh;
                bottom: 90%;
                right: 32%;
                z-index: -1;
                border-right: 2px dashed $colorred;
                border-bottom: 2px dashed $colorred;
                @media screen and (max-width: 768px) {
                    width: 70px;
                    border: 2px dashed #eaeaea;
                    height: 50vh;
                    bottom: 55%;
                    right: 80%;
                    border-right: 2px dashed $colorred;
                }
            }
        }
        // color: white;
        // border: 2px solid;
        // background: #eaeaea;
        width: fit-content;
        display: inline-block;
        margin: 8px 16px;
        padding: 8px 16px;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 768px) {
            padding: 4px 8px;
            margin: 4px 8px;
        }
        .iconx {
            width: 80px;
            height: 80px;
            vertical-align: middle;
            padding: 16px;
            display: inline-block;
            margin-right: 8px;
            background: #eaeaea;
            // border: 1px solid black;
            border-radius: 50%;
            @media screen and (max-width: 768px) {
                width: 50px;
                height: 50px;
                padding: 8px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        p {
            position: relative;
            z-index: 5;
            display: inline-block;
            font-weight: bold;
            vertical-align: middle;
            font-size: 1.4rem;
            color: #eaeaea;
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
            }
        }
        // &::before {
        //     content: "";
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%,-50%);
        //     width: 85%;
        //     z-index: 1;
        //     height: 120%;
        //     background-color: $colorred;
        // }
        // &::after {
        //     content: "";
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%,-50%);
        //     height: 50%;
        //     z-index: 1;
        //     width: 120%;
        //     background-color: $colorred;
        // }
    }
}

.credits-photo {
    .small {
        font-size: 12px;
        margin-bottom: 0;
        padding: 0;
        // font-family: "Source Code Pro";

        color: #ececec;
        &-bold {
            font-weight: 700;
        }
    }
    padding: 4px 0 16px;
}
