.taman-literasi {
    padding: 0;
    .titlex {
        text-align: center;
        h3 {
            color: white;
            font-size: 2.5rem;
            font-family: "Permanent Marker", sans-serif;
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
    .image {
        width: 100%;
        position: absolute;
        inset: 0;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, $colorred, rgba($colorred, 0.7), $colorred);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bubble {
        width: 100%;
        height: 580px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.tod {
    background: url("../img/abs.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background: linear-gradient(to top, $colorred, rgba($colorred, 0.9), $colorred);
    }
    .titlex .brush {
        position: absolute;
        left: 20%;
        width: 200px;
        display: none;
        height: auto;
        top: 50%;
        opacity: 0.2;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .titlex {
        text-align: center;
        position: relative;
        z-index: 2;
        h3 {
            color: white;
            font-size: 2.5rem;
            font-family: "Permanent Marker", sans-serif;
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
}
